/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html, body {
  font-family: 'Montserrat','Poppins', 'Segoe UI', 'Arial', 'Helvetica Neue';
  background-color: #FBFBFB;
  color: #222;
}
